
<!DOCTYPE html>

	<head>


	</head>
	<body>


<div class="jumbotron">
		  <h2>Axel Antonio López Loza <small>Ejercicio 2 </small></h2>
		</div>
	<div id="fh5co-logo">
		<a href="index.html" class="transition"><i class="icon-camera"></i><em><span class="icon-home"></span></em></a>
	</div>

	<div id="fh5co-main" role="main">


		<div class="container">

			<div class="fh5co-grid">

				<div class="fh5co-col-1">
					<div class="fh5co-intro padding-right">
						<h1>I'm Jean Smith <em>&amp;</em> I'm a Photographer. I love capture life. <a href="about.html" class="transition"><em>About Me</em></a></h1>
						<ul class="fh5co-social">
							<li><a href="#"><i class="icon-twitter-with-circle"></i></a></li>
							<li><a href="#"><i class="icon-facebook-with-circle"></i></a></li>
							<li><a href="#"><i class="icon-instagram-with-circle"></i></a></li>
							<li><a href="#"><i class="icon-dribbble-with-circle"></i></a></li>
						</ul>
					</div>
					<div class="fh5co-item">
						<a href="single.html" class="transition animate-box">
							<img src="images/pic_1.jpg" alt="Free HTML5 Website Template by FreeHTML5.co">
							<div class="fh5co-item-text-wrap">
								<div class="fh5co-item-text">
									<h2>Outdoor</h2>
								</div>
							</div>
						</a>
					</div>
					<div class="fh5co-item">
						<a href="single.html" class="transition animate-box">
							<img src="images/pic_2.jpg" alt="Free HTML5 Website Template by FreeHTML5.co">
							<div class="fh5co-item-text-wrap">
								<div class="fh5co-item-text">
									<h2>Food</h2>
								</div>
							</div>
						</a>
					</div>
					<div class="fh5co-item">
						<a href="single.html" class="transition animate-box">
							<img src="images/pic_7.jpg" alt="Free HTML5 Website Template by FreeHTML5.co">
							<div class="fh5co-item-text-wrap">
								<div class="fh5co-item-text">
									<h2>Nature</h2>
								</div>
							</div>
						</a>
					</div>
					<div class="fh5co-item">
						<a href="single.html" class="transition animate-box">
							<img src="images/pic_8.jpg" alt="Free HTML5 Website Template by FreeHTML5.co">
							<div class="fh5co-item-text-wrap">
								<div class="fh5co-item-text">
									<h2>Travel</h2>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="fh5co-col-2">
					<div class="fh5co-item">
						<a href="single.html" class="transition animate-box">
							<img src="images/pic_3.jpg" alt="Free HTML5 Website Template by FreeHTML5.co">
							<div class="fh5co-item-text-wrap">
								<div class="fh5co-item-text">
									<h2>Nature</h2>
								</div>
							</div>
						</a>
					</div>
					<div class="fh5co-item">
						<a href="single.html" class="transition animate-box">
							<img src="images/pic_4.jpg" alt="Free HTML5 Website Template by FreeHTML5.co">
							<div class="fh5co-item-text-wrap">
								<div class="fh5co-item-text">
									<h2>Wildlife</h2>
								</div>
							</div>
						</a>

					</div>
					<div class="fh5co-item">
						<a href="single.html" class="transition animate-box">
							<img src="images/pic_5.jpg" alt="Free HTML5 Website Template by FreeHTML5.co">
							<div class="fh5co-item-text-wrap">
								<div class="fh5co-item-text">
									<h2>Faces</h2>
								</div>
							</div>
						</a>
					</div>
					<div class="fh5co-item">
						<a href="single.html" class="transition animate-box">
							<img src="images/pic_6.jpg" alt="Free HTML5 Website Template by FreeHTML5.co">
							<div class="fh5co-item-text-wrap">
								<div class="fh5co-item-text">
									<h2>Cities</h2>
								</div>
							</div>
						</a>
					</div>

					<div id="fh5co-footer" class="padding-left">
						<p><small>&copy; 2016 Epic. All Rights Reserved. <br> Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a></small></p>
						<ul class="fh5co-social">
							<li><a href="#"><i class="icon-twitter-with-circle"></i></a></li>
							<li><a href="#"><i class="icon-facebook-with-circle"></i></a></li>
							<li><a href="#"><i class="icon-instagram-with-circle"></i></a></li>
							<li><a href="#"><i class="icon-dribbble-with-circle"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>

	</body>
</html>
